<!DOCTYPE html>
<html>
<head>
  <title>Flutter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render '/layouts/nav' %>

<% if params[:id] !=nil %>
<% @url = "/user/" + params[:id] %>
<% if current_page?(@url) %>
<img src="/banner.jpg" class="profile-banner">
<div class="row">
    <div class="col-sm-12" sytle="background-color: white;">
        <div class="container">
            <div class="col-sm-3">&nbsp;</div>
            <div class="col-sm-6" style="margin-top: 5px;">
                <div class="col-sm-2"  style="font-size: 100%; opacity: 0.7;">Posts<br>
                    <h6 sytle="color: #3333ff; font-size: 200%;">16</h6>
                </div>
                 <div class="col-sm-2"  style="font-size: 100%; opacity: 0.7;">Followers<br>
                    <h6 sytle="color: #3333ff; font-size: 200%;">15</h6>
            </div>
        </div>
    </div>
</div>
<% end %>
<% end %>
<div class="container">
   <span class="notice"><%= notice %></span>
   <span class="alert"><%= alert %></span>
   
 <%= yield %>
  
</div>


</body>
</html>
